#contact {
    scroll-margin-top: 3.5rem;
}

.center_container_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17.5rem 0;
}

.contact_container {
    margin: 0 17.5rem;
    width: 61%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: 1.5s ease-in-out;
}

.contact_container > h2{
    margin-bottom: 2.5rem;
}

.contact_text {
    width: 75%;
}

.contact_text > h4{
    margin-bottom: 6.5rem;
    width: 100%;
}

.contact_btn_container {
    width: 273px;
    height: 56px;
}

@media (max-width: 1230px) {
    .contact_container {
        width: 73%;
    }
}

@media (max-width: 1024px) {
    .contact_container {
        width: 85%;
    }
}

@media (max-width: 850px) {
    .center_container_contact {
        margin-top: 10rem;
    }
}

@media (max-width: 550px) {

    .center_container_contact {
        margin: 3rem 0;
    }

    .contact_container {
        width: 95%;
    }

    .contact_text {
        width: 95%;
    }
}