/* Home - text */

.home_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19.3rem;
}

.home_section_position {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 61%;
    max-width: 84%;
    height: 521px;
    gap: 2.5%;
    transition: 1.5s ease-in-out;
}

.home_text_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    transition: 1.5s ease-in-out;
}

.home_opening_text{
    margin-top: 2rem;
}

/* get in touch button */

.home_btn_container {
    margin-top: 11%;  
    width: 273px;
    height: 56px;
}

/* profile image */

.img_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 27, 34, 0.08);
    border-radius: 1rem;
    transition: 1.5s ease-in-out;
}

.img_container img {
    height: auto;
    width: 66%;
    border-radius: 1rem;
}

@media (max-width: 1230px) {
    .home_section_position {
        width: 73%;
    }
}

@media (max-width: 1024px) {
    .home_section_position {
        width: 85%;
    }
}

@media (max-width: 850px) {
    .home_text_container {
        width: 85%;
    }

    .img_container {
        width: 78%;
        height: 65%;
    }

    .img_container img {
        width: 85%;
    }

    .home_section_position { 
        gap: 10%;
    }
}

@media (max-width: 600px) {

    .img_container img,
    .img_container {
        display: none;
    }

    .home_section {
        margin-top: 13rem;
        display: block;
    }

    .project_container {
        margin-top: 3rem!important;
    }
}

@media (max-width: 550px) {

    .home_section {
        margin-top: 6rem;
        /* width: 102%;
        justify-content: flex-start; */
        padding: 1rem;
    }

    .home_section_position {
        max-width: 88%;
    }

    .home_text_container {
        width: 100%;
    }

    .img_container img,
    .img_container {
        display: none;
    }
}